<% if current_user %>
<div class="row">
<h1>Editing Project</h1>
<%= render 'form' %>

<%= link_to 'Show', @project, class: "button" %> 
<%= link_to 'Back', projects_path, class: "button" %>
</div>
<% end %>