<div class="full-width">
  <div class="large-12 columns">
  <div id="slider">
    <ul class="example-orbit" data-orbit>
      <li>
        <img src="https://d3mlfyygrfdi2i.cloudfront.net/reboot-the-suit.jpg" alt="slide 1" />
        <div class="orbit-caption">
          Caption One.
        </div>
      </li>
      <li class="active">
        <img src="https://d3mlfyygrfdi2i.cloudfront.net/art-as-activism.jpg" alt="slide 2" />
        <div class="orbit-caption">
          Caption Two.
        </div>
      </li>
      <li>
        <img src="https://d3mlfyygrfdi2i.cloudfront.net/bill-nye.jpg" alt="slide 3" />
        <div class="orbit-caption">
          Caption Three.
        </div>
      </li>
    </ul>
  </div>
  <hr/>
  </div>
</div>