<div class="full-width">
  <div class="large-12 ">
  <div id="slider">
    <ul class="example-orbit" data-orbit>
    <li data-orbit-slide="headline-1" class="slide-1">
    
        <div>

          <h1>Reboot the Suit</h1>
          <h3>Help the Smithsonian conserve Neil Armstrong’s historic spacesuit, and share it with explorers everywhere.
          <p><a class="button radius" href="./projects/1">View Project</a></p>
          </h3>
          
        </div>
      </li>
      
      <li class="active">
        <img src="https://d3mlfyygrfdi2i.cloudfront.net/art-as-activism.jpg" alt="slide 2" />
        Art as Activism
        Ai Weiwei and the Royal Academy of Arts are collaborating to create something incredible — be part of it.
      </li>
      <li>
        <img src="https://d3mlfyygrfdi2i.cloudfront.net/bill-nye.jpg" alt="slide 3" />
        Explore projects, everywhere
        Check out Kickstarter for iPhone and iPad — now with Apple Pay!

        Picturing Inequality
        Support a group of renowned photographers who are reframing the global conversation on wealth disparity.

        That Light Within
        Support the making of an illuminating documentary on the works and private life of revered poet Emily Dickinson.

        A 21,000-Mile Story
        Explore the frontiers of slow journalism with a Pulitzer Prize-winning foreign correspondent.
      </li>
    </ul>
  </div>
 
  </div>
</div>
<% flash.each do |name, message| %>
<div class="flash-message flash-message-<%= name %>">
  <%= message %>
</div>
<% end %>