// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-container{

  padding: 0 20px;
  }
 .project-card
 {
  border: solid 1px #d9d9de;
  @include border-radius(5px);
  .project-content{
    font-size: 12px;
    padding: 10px;
  }
 }

