nav {
  li{
    width: 130px;
  }
  .nav-search{
    width: 500px;
    float: left;
  }
  .project_search input{
    margin: 0 5px;
    width: 150px;
    float: left;
  }
  label{
    width: 100px;
    float: left;
  }
}
