<footer class="row">
  <div class="large-12">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright Gabriele Iacopetti Creations</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Discover", projects_path %></li>
          <li><%= link_to " New Project", new_project_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>